<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">
            <img class="logo" src="../../../../assets/images/logo/Logo1.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon colorButton"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            </ul>

            <form class="d-flex">
                <a role="button" class="btn btn-warning m-2 mr-5" href="#"><b>Promociones</b><span class="sr-only">(current)</span></a>
                <a *ngIf="!status" class="btn btn-danger m-2" href="" data-toggle="modal" data-target="#signupPage"><b>Registrarse<i class="fas fa-user-plus ml-3"></i></b></a>
                <a *ngIf="!status" class="btn btn-success m-2" href="" data-toggle="modal" data-target="#signinPage" tabindex="-1"> <b>Ingresar<i class="fas fa-sign-in-alt ml-3"></i></b> </a>
                <a *ngIf="status" class="btn btn-outline-info m-2" href="">{{nombreUsuario}}</a>
            </form>
        </div>
    </nav>


    <div class="container center">
        <section class='hero-header-text'>
            <br><br><br>
            <h1>Todo lo que necesitas cerca de ti!!!</h1>

            <form [formGroup]="locationFormGroup" class="mt-2 mt-md-0">
                <div fxFlex="100" fxFlex.gt-xs="40" class="pr-1 pb-1">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search-location"></i></span>
                        </div>
                        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="form-control mr-sm-2" type="text" placeholder="¿Donde estas?" name="address" formControlName="address" (input)="cambioDireccion($event.target.value)"
                        />
                    </div>
                    <div class=" m-3 ">
                        <small *ngIf="locationFormGroup.controls[ 'address'].hasError( 'minlength') && locationFormGroup.controls[ 'address'].touched " class="alert alert-danger "> La ubicación requiere al menos {{locationFormGroup.controls['address'].errors.minlength.requiredLength}} dígitos </small>
                        <small *ngIf="locationFormGroup.controls[ 'address'].hasError( 'required') && locationFormGroup.controls[ 'address'].touched " class="alert alert-danger "> Dirección Requerida </small>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary my-2 my-sm-0 " type="button " [disabled]="locationFormGroup.invalid " (click)="cargarDireccion()">&nbsp;&nbsp;&nbsp;&nbsp; Ir &nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </form>
        </section>
    </div>
</header>

<div class="modal fade" id="signinPage">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold">Ingresa</h3>
                <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
            </div>

            <div class="modal-body mx-4">
                <form (ngSubmit)="login(f)" #f="ngForm">
                    <div class="md-form">
                        <input type="email" name="email" class="form-control validate" [(ngModel)]="usuario.email" required email>
                        <label data-error="" data-success="">Email</label>
                    </div>

                    <div class="md-form">
                        <input type="password" class="form-control validate" name="password" [(ngModel)]="usuario.password" required minlength="8">
                        <label data-error="" data-success="">Contraseña</label>
                        <p class="font-small blue-text d-flex justify-content-end">Olvidó su<a href="#" class="blue-text ml-1"> Contraseña?</a></p>
                    </div>

                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary btn-block z-depth-1a">Iniciar sesión</button>
                    </div>
                </form>
                <p class="font-small dark-grey-text d-flex justify-content-center">O inicia con:</p>

                <div class="row my-3 justify-content-center">
                    <button type="button" class="btn btn-primary z-depth-1a"><i class="fab fa-facebook-f text-center"></i></button>
                    <button type="button" class="btn btn-purple z-depth-1a"><i class="fab fa-twitter text-center"></i></button>
                    <button type="button" class="btn btn-red z-depth-1a"><i class="fab fa-google-plus-g text-center"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupPage">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title text-center w-100 font-weight-bold">Sign Up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" class="form-control validate">
                    <label data-error="wrong" data-success="right">Your Name</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" class="form-control validate">
                    <label data-error="wrong" data-success="right">Your Email</label>
                </div>


                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" class="form-control validate">
                    <label data-error="wrong" data-success="right">Your Password</label>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </div>
</div>