.logo {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.navbar-toggler {
    filter: invert(1) drop-shadow(0 2px 5px rgb(198, 247, 66));
}

h3 {
    display: inline-block;
    padding: 30px;
}

h1 {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 3vw;
}

h2 {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #5B5B5B;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: capitalize;
    margin-right: 3rem!important;
    margin: .5rem!important;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
}


/* ================ Header Section ================ */

.header {
    background: url(../../../../assets/images/header/fondo3.jpg) no-repeat center;
    background-size: cover;
    min-height: 75vh;
    background-position: 0% 73%;
}

.header .navbar {
    background-color: transparent !important;
}