<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img class="logo" src="../../../../assets/images/logo/Logo1.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon colorButton"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            </ul>

            <form class="d-flex">
                <a role="button" class="btn btn-warning m-2 mr-5" href="#"><b>Promociones</b><span class="sr-only">(current)</span></a>
                <a class="btn btn-danger m-2" href="#"><b>Registrarse</b></a>
                <a class="btn btn-success m-2" href="#" tabindex="-1"> <b>Ingresar</b> </a>
            </form>
        </div>
    </nav>


    <div class="container center">
        <section class='hero-header-text'>
            <br><br><br>
            <h1>Todo lo que necesitas cerca de ti!!!</h1>

            <form [formGroup]="locationFormGroup" class="mt-2 mt-md-0">
                <div fxFlex="100" fxFlex.gt-xs="40" class="pr-1 pb-1">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search-location"></i></span>
                        </div>
                        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="form-control mr-sm-2" type="text" placeholder="¿Donde estas?" name="address" formControlName="address" (input)="cambioDireccion($event.target.value)"
                        />
                    </div>
                    <div class=" m-3 ">
                        <small *ngIf="locationFormGroup.controls[ 'address'].hasError( 'minlength') && locationFormGroup.controls[ 'address'].touched " class="alert alert-danger "> La ubicación requiere al menos {{locationFormGroup.controls['address'].errors.minlength.requiredLength}} dígitos </small>
                        <small *ngIf="locationFormGroup.controls[ 'address'].hasError( 'required') && locationFormGroup.controls[ 'address'].touched " class="alert alert-danger "> Dirección Requerida </small>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary my-2 my-sm-0 " type="button " [disabled]="locationFormGroup.invalid " (click)="cargarDireccion()">&nbsp;&nbsp;&nbsp;&nbsp; Ir &nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </form>
        </section>
    </div>
</header>