<!-- Button trigger modal -->
<a class="btn btn-primary" href="#" role="button" routerLink="/detalles_producto">
    Lista de Productos
</a>
<a class="btn btn-primary" href="#" role="button" routerLink="/mis_productos">
    Mis productos
</a>
<a class="btn btn-primary" href="#" role="button" [routerLink]="['/productos',tiendaTest]">
    Productos
</a>


<div class="container status center">
    <h1 class="status">Tus Negocios!!!</h1>
    <div class="row">
        <carousel [height]="300" [arrowsOutside]="true" [cellsToScroll]="5">
            <div class="carousel-cell" *ngFor="let tienda of tiendas">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <button type="button" class="btn btn-outline-light text-dark btn-circle btn-xl" (click)="cargarTiendas(tienda)">
                                <i class={{tienda.icono}}></i> 
                            </button>
                        </div>
                        <div class="title_space">
                            <h5 class="card-title ">{{tienda.nombre}}</h5>
                        </div>
                        <p class="card-text">{{tienda.descripcion}}</p>
                    </div>
                </div>
            </div>
        </carousel>
    </div>
</div>