.status {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%x;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    box-shadow: 2px 2px 5px #999;
}

.title_space {
    min-height: 10vh;
    vertical-align: middle;
}