#section-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../../../../assets/images/header/fondo3.jpg) no-repeat center;
    background-size: cover;
    background-position: 0% 0%;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 1vw;
    text-align: center;
}

.logo {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    width: 60%;
    height: 60%;
}

.footer-title {
    display: inline-block;
    margin-bottom: 40px;
    text-transform: none;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a {
    margin-left: 10px;
    font-size: 28px;
    color: #333232;
    font-weight: normal;
    text-shadow: none;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.social-icons ul li a:hover {
    color: #7F8C8D;
}