<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Detalles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="container espacioImagen">
                    <img src={{model.imagen}} class="img-fluid rounded mx-auto d-block imgProducto" alt="producto">
                </div>
                <div class="container">
                    <h5>{{model.nombreProducto}}</h5>
                    <p>{{model.descripcion}}</p>
                    <h6 class="valor">{{convertirPrecio()}}</h6>
                </div>

            </div>
            <div class="modal-footer">
                <div class="container">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="mt-2 text-right">Cantidad: </h5>
                            </div>
                            <div class="col-3">
                             <ngx-number-spinner formControlName="price" min="1" max="{{model.stock}}" (change)="change($event)"></ngx-number-spinner>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <button type="button" class="btn btn-primary mt-1" (click)="cargarPedido()" data-dismiss="modal">Agregar {{this.precio}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>