<form (ngSubmit)="register(f)" #f="ngForm" name="signupForm">

    <div class="md-form">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="registro.role" name="role" required>
            <option disabled>Registrar como</option>
            <option value="tendero">Tendero</option>
            <option value="usuario">Usuario</option>                            
          </select>
    </div>
    <div class="md-form">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="email" class="form-control validate" [(ngModel)]="registro.email" name="email" required email>
        <label data-error="correo no valido" data-success="">Correo</label>
    </div>

    <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input type="text" class="form-control validate" [(ngModel)]="registro.name" name="name" required>
        <label data-error="" data-success="">nombre</label>
    </div>

    <div class="md-form">
        <i class="fas fa-calendar prefix grey-text"></i>
        <input placeholder="Fecha de nacimiento" type="date" id="date-picker-example" class="form-control datepicker" [(ngModel)]="registro.birthday" name="birthday" required>

    </div>

    <div class="md-form">
        <i class="fas fa-house prefix grey-text"></i>
        <input type="text" class="form-control validate" [(ngModel)]="registro.address" name="address" required>
        <label data-error="" data-success="">Direccion</label>
    </div>

    <div class="md-form">
        <i class="fas fa-phone prefix grey-text"></i>
        <input type="text" class="form-control validate" [(ngModel)]="registro.phone" name="phone" required>
        <label data-error="" data-success="">Telefono</label>
    </div>

    <div class="md-form">
        <i class="fas fa-lock prefix grey-text"></i>
        <input type="password" class="form-control validate" [(ngModel)]="registro.password" name="password" id="password" required minlength="8">
        <label data-error="Contraseña demasiado corta" data-success="">Contraseña</label>
    </div>
    <div class="md-form">
        <i class="fas fa-lock prefix grey-text"></i>
        <input type="password" class="form-control validate" id="password_confirm" oninput="check(this)">
        <label data-error="Contraseña no coincide" data-success="">Confirmacion de Contraseña</label>
    </div>


    <div class="text-center mb-3">
        <button type="submit" class="btn btn-primary btn-block z-depth-1a">Registrar</button>
    </div>
</form>